# https://editorconfig.org
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{txt,jinja}]
insert_final_newline = false
trim_trailing_whitespace = false

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[*.toml]
indent_style = space
indent_size = 4

[*.{js,jsx,ts,tsx,html,css}]
indent_style = space
indent_size = 2
